#%Module1.0#####################################################################
###
### {{ LIB_NAME }} {{ LIB_VERSION }} module
###
proc ModulesHelp { } {
    global version prefix

    puts stderr "\ttools/{{ LIB_NAME }}/{{ LIB_VERSION }} - loads {{ LIB_NAME }} {{ LIB_VERSION }} and its environment"
}

module-whatis   "Loads {{ LIB_NAME }} {{ LIB_VERSION }} and its environment"

# for Tcl script use only
set version     {{ LIB_VERSION }}
set prefix      {{ INSTALL_DIR }}

prepend-path CMAKE_PREFIX_PATH $prefix
prepend-path PATH $prefix/bin
prepend-path LD_LIBRARY_PATH $prefix/lib
prepend-path MANPATH $prefix/share/man

unsetenv LANGUAGE
unsetenv LANG
unsetenv LC
