#%Module1.0#####################################################################
### 
### {{ LIB_NAME }} {{ LIB_VERSION }}
### 
proc ModulesHelp { } {
    global version prefix

    puts stderr "\tlibs//{{ LIB_NAME }}/{{ LIB_VERSION }} - loads {{ LIB_NAME }} {{ LIB_VERSION }}"
}

module-whatis   "Loads {{ LIB_NAME }} {{ LIB_VERSION }}"

# for Tcl script use only
set prefix      {{ INSTALL_DIR }}

# prepend-path CMAKE_PREFIX_PATH $prefix
prepend-path PATH $prefix/bin
prepend-path LD_LIBRARY_PATH $prefix/lib
prepend-path LIBRARY_PATH $prefix/lib
setenv BOOST_ROOT $prefix

